index.php
/db/*
/.idea/
/nbproject/
/resource/
/assets/media/agreement_form/*
/assets/media/athletes/*
/assets/media/chargeback-files/*


/assets/media/course/*
/assets/media/course/thumbs/*
/assets/media/course/orginal/*
/assets/media/course/list/*

/assets/media/csv_download/*
/assets/media/invoice/*

/assets/media/lesson/*
/assets/media/lesson/thumbs/*
/assets/media/lesson/orginal/*
/assets/media/lesson/list/*

/assets/media/new_agreement_form/*

/assets/media/plan/*
/assets/media/plan/thumbs/*
/assets/media/plan/orginal/*
/assets/media/plan/list/*

/assets/media/product/*
/assets/media/product/thumbs/*
/assets/media/product/orginal/*
/assets/media/product/list/*

/assets/media/sliders/*

/assets/media/training/*

/assets/media/user/*
/assets/media/w9-form/*
/assets/media/xlsx_download/*

/application/logs/*
/application/sessions/*
/application/config/development/*
/application/config/production/*
/application/config/development/settings.php

